<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GTCHS Bucket Filler</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <h1>Clean Up Fillers</h1>
    <a href='/' type='button' class='button'>Back to Bucket Filler Page</a>

    <ul>
        {% for filler in fillers|reverse %}
            <li>
               <q> {{ filler[1] }} </q>
               <a href="/delete/{{ filler[0] }}">Delete</a>
            </li>
        {% endfor %}
    </ul>

  </body>
</html>
